In [4]:
# %pip install pandas numpy

In [5]:
# %pip install scikit-learn

In [1]:
# file names and global variables

lbl_enc_gender_file = "label_encoder_gender.pkl"
ohe_geography_file = "ohe_geography.pkl"
scaler_file = "standard_scaler.pkl"

In [2]:
import pandas as pd 
import numpy as np

In [3]:
data=pd.read_csv(r"Churn_Modelling.csv")

In [4]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
data.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [6]:
data.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [9]:
data.nunique()

RowNumber          10000
CustomerId         10000
Surname             2932
CreditScore          460
Geography              3
Gender                 2
Age                   70
Tenure                11
Balance             6382
NumOfProducts          4
HasCrCard              2
IsActiveMember         2
EstimatedSalary     9999
Exited                 2
dtype: int64

In [10]:
columns_nm=list(data.columns)

In [11]:
data.count()

RowNumber          10000
CustomerId         10000
Surname            10000
CreditScore        10000
Geography          10000
Gender             10000
Age                10000
Tenure             10000
Balance            10000
NumOfProducts      10000
HasCrCard          10000
IsActiveMember     10000
EstimatedSalary    10000
Exited             10000
dtype: int64

In [12]:
data.nunique()

RowNumber          10000
CustomerId         10000
Surname             2932
CreditScore          460
Geography              3
Gender                 2
Age                   70
Tenure                11
Balance             6382
NumOfProducts          4
HasCrCard              2
IsActiveMember         2
EstimatedSalary     9999
Exited                 2
dtype: int64

In [13]:
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [14]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

# Data preparation

In [15]:
import sklearn

In [16]:
from sklearn.preprocessing import LabelEncoder

lbl_enc_gender = LabelEncoder()

In [17]:
data['Gender'] = lbl_enc_gender.fit_transform(data['Gender'])

In [18]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder()

In [19]:
ohe_geography = ohe.fit_transform(data[['Geography']]).toarray()

In [20]:
ohe_geography

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [21]:
ohe.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [22]:
geography_ohe_df = pd.DataFrame(ohe_geography, columns=ohe.get_feature_names_out(['Geography']))

In [23]:
geography_ohe_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [24]:
data = pd.concat((data.drop(['Geography'], axis=1) , geography_ohe_df), axis=1)

In [25]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [26]:
import pickle

In [27]:
# serialising encoders

with open(lbl_enc_gender_file, "wb") as file:
    pickle.dump(lbl_enc_gender, file)

with open(ohe_geography_file, "wb") as file:
    pickle.dump(ohe_geography, file)

In [28]:
from sklearn.model_selection import train_test_split

X = data.drop(["Exited"], axis=1)
y = data[["Exited"]]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=235)

In [29]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

In [30]:
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [31]:
# serializing scaler

with open(scaler_file, "wb") as file:
    pickle.dump(scaler, file)

---

# Implement ANN

In [32]:
%pip install tensorflow==2.15.0

Requirement already satisfied: tensorflow==2.15.0 in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (2.15.0)
Requirement already satisfied: absl-py>=1.0.0 in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (from tensorflow==2.15.0) (2.3.0)
Requirement already satisfied: astunparse>=1.6.0 in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (from tensorflow==2.15.0) (1.6.3)
Requirement already satisfied: flatbuffers>=23.5.26 in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (from tensorflow==2.15.0) (25.2.10)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (from tensorflow==2.15.0) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (from tensorflow==2.15.0) (0.2.0)
Requirement already satisfied: h5py>=2.9.0 in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (from tensorflow==2.15.0) (3.14.0)
Requirement already satisfied: libclang>=13.0.0 in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (from tensorflow==2.15.0) (18.1.1)
Requirement already satisfied: ml-dtypes~=0.2.0 in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (from tensorflow==2.15.0) (0.2.0)
Requirement already satisfied: numpy<2.0.0,>=1.23.5 in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (from tensorflow==2.15.0) (1.26.4)
Requirement already satisfied: opt-einsum>=2.3.2 in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (from tensorflow==2.15.0) (3.4.0)
Requirement already satisfied: packaging in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (from tensorflow==2.15.0) (24.2)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (from tensorflow==2.15.0) (4.25.8)
Requirement already satisfied: setuptools in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (from tensorflow==2.15.0) (78.1.1)
Requirement already satisfied: six>=1.12.0 in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (from tensorflow==2.15.0) (1.17.0)
Requirement already satisfied: termcolor>=1.1.0 in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (from tensorflow==2.15.0) (3.1.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (from tensorflow==2.15.0) (4.14.0)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (from tensorflow==2.15.0) (1.14.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (from tensorflow==2.15.0) (0.37.1)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (from tensorflow==2.15.0) (1.73.0)
Requirement already satisfied: tensorboard<2.16,>=2.15 in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (from tensorflow==2.15.0) (2.15.2)
Requirement already satisfied: tensorflow-estimator<2.16,>=2.15.0 in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (from tensorflow==2.15.0) (2.15.0)
Requirement already satisfied: keras<2.16,>=2.15.0 in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (from tensorflow==2.15.0) (2.15.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (from tensorboard<2.16,>=2.15->tensorflow==2.15.0) (2.40.3)
Requirement already satisfied: google-auth-oauthlib<2,>=0.5 in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (from tensorboard<2.16,>=2.15->tensorflow==2.15.0) (1.2.2)
Requirement already satisfied: markdown>=2.6.8 in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (from tensorboard<2.16,>=2.15->tensorflow==2.15.0) (3.8)
Requirement already satisfied: requests<3,>=2.21.0 in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (from tensorboard<2.16,>=2.15->tensorflow==2.15.0) (2.32.4)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (from tensorboard<2.16,>=2.15->tensorflow==2.15.0) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (from tensorboard<2.16,>=2.15->tensorflow==2.15.0) (3.1.3)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow==2.15.0) (5.5.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow==2.15.0) (0.4.2)
Requirement already satisfied: rsa<5,>=3.1.4 in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow==2.15.0) (4.9.1)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (from google-auth-oauthlib<2,>=0.5->tensorboard<2.16,>=2.15->tensorflow==2.15.0) (2.0.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow==2.15.0) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow==2.15.0) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow==2.15.0) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow==2.15.0) (2025.4.26)
Requirement already satisfied: pyasn1>=0.1.3 in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (from rsa<5,>=3.1.4->google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow==2.15.0) (0.6.1)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (from astunparse>=1.6.0->tensorflow==2.15.0) (0.45.1)
Requirement already satisfied: oauthlib>=3.0.0 in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<2,>=0.5->tensorboard<2.16,>=2.15->tensorflow==2.15.0) (3.2.2)
Requirement already satisfied: MarkupSafe>=2.1.1 in /home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages (from werkzeug>=1.0.1->tensorboard<2.16,>=2.15->tensorflow==2.15.0) (3.0.2)
Note: you may need to restart the kernel to use updated packages.

In [33]:
import tensorflow as tf
from tensorflow.keras.models import  Sequential # type : ignore
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

2025-06-19 17:55:52.849158: I tensorflow/core/util/port.cc:113] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2025-06-19 17:55:52.891223: I external/local_tsl/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.
2025-06-19 17:55:53.087080: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2025-06-19 17:55:53.087144: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2025-06-19 17:55:53.122166: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2025-06-19 17:55:53.197498: I external/local_tsl/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.
2025-06-19 17:55:53.199169: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2025-06-19 17:55:54.180235: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [34]:
input = (X_train.shape[1], )

In [35]:
input

(12,)

In [50]:
# Building ANN model

model = Sequential([
    Dense(96, activation='relu',input_shape=(X_train.shape[1],)),
    Dense(72, activation='elu'),
    Dense(1, activation='sigmoid')
])

In [51]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 96)                1248

 dense_7 (Dense)             (None, 72)                6984

 dense_8 (Dense)             (None, 1)                 73

=================================================================
Total params: 8305 (32.44 KB)
Trainable params: 8305 (32.44 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [52]:
# Compiling the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics='accuracy')

In [53]:
# Setup tensorboard

from tensorflow.keras.callbacks import TensorBoard
from datetime import datetime

log_dir = r'logs/fit/'+ datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [54]:
# Setup Early stoppings

from tensorflow.keras.callbacks import EarlyStopping

early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [55]:
# Training model

history = model.fit(
    X_train, y_train, validation_data=[X_test, y_test], epochs=100,
    callbacks=[tensorflow_callback, early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4315 - accuracy: 0.8106 - val_loss: 0.4111 - val_accuracy: 0.8310
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3717 - accuracy: 0.8456 - val_loss: 0.3756 - val_accuracy: 0.8460
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3557 - accuracy: 0.8553 - val_loss: 0.3644 - val_accuracy: 0.8485
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3456 - accuracy: 0.8595 - val_loss: 0.3655 - val_accuracy: 0.8495
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3432 - accuracy: 0.8583 - val_loss: 0.3677 - val_accuracy: 0.8480
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3410 - accuracy: 0.8604 - val_loss: 0.3631 - val_accuracy: 0.8525
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3390 - accuracy: 0.8618 - val_loss: 0.3600 - val_accuracy: 0.8495
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3348 - accuracy: 0.8622 - val_loss: 0.3626 - val_accuracy: 0.8505
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3325 - accuracy: 0.8624 - val_loss: 0.3632 - val_accuracy: 0.8540
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3294 - accuracy: 0.8622 - val_loss: 0.3608 - val_accuracy: 0.8500
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3264 - accuracy: 0.8684 - val_loss: 0.3549 - val_accuracy: 0.8535
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3253 - accuracy: 0.8654 - val_loss: 0.3545 - val_accuracy: 0.8535
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3206 - accuracy: 0.8661 - val_loss: 0.3592 - val_accuracy: 0.8515
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3221 - accuracy: 0.8670 - val_loss: 0.3553 - val_accuracy: 0.8535
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3191 - accuracy: 0.8679 - val_loss: 0.3542 - val_accuracy: 0.8515
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3182 - accuracy: 0.8685 - val_loss: 0.3569 - val_accuracy: 0.8505
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3155 - accuracy: 0.8715 - val_loss: 0.3583 - val_accuracy: 0.8525
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3134 - accuracy: 0.8699 - val_loss: 0.3583 - val_accuracy: 0.8530
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3146 - accuracy: 0.8708 - val_loss: 0.3638 - val_accuracy: 0.8525
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3139 - accuracy: 0.8719 - val_loss: 0.3578 - val_accuracy: 0.8495
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3100 - accuracy: 0.8710 - val_loss: 0.3565 - val_accuracy: 0.8555
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3079 - accuracy: 0.8764 - val_loss: 0.3585 - val_accuracy: 0.8560
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3068 - accuracy: 0.8741 - val_loss: 0.3560 - val_accuracy: 0.8515
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3083 - accuracy: 0.8756 - val_loss: 0.3585 - val_accuracy: 0.8540
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3042 - accuracy: 0.8735 - val_loss: 0.3588 - val_accuracy: 0.8535

In [56]:
model.save('ANN.h5')

/home/amartya/miniconda3/envs/myenv/lib/python3.10/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [57]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [59]:
%reload_ext tensorboard

In [60]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 6569), started 0:00:10 ago. (Use '!kill 6569' to kill it.)